<div>
    <form [formGroup] = "candidateProfileForm">
        <div class="form-field-container">
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstname">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastname">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>UserName</mat-label>
                <input matInput formControlName="username">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email Id</mat-label>
                <input matInput formControlName="emailId">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Designation</mat-label>
                <input matInput formControlName="designation">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Skills</mat-label>
                <input matInput formControlName="skills">
            </mat-form-field>
        </div>

        <div class="text-align-right">
            <button mat-raised-button color="primary" (click)="submitCandidateForm()">Register</button>
        </div>

    </form>
</div>